.eventListing__search-wrapper {
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .1);
    border-radius: 2px;
    margin-bottom: 50px;
}

input[type='search'] {
    padding: 15px;
    width: 100%;
    border: 1px solid #D3D4D3;
}


.eventListing__card-grid {
    padding-left: 0;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}


@media screen and (min-width: 767px) {
    .eventListing__card-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
}

@media screen and (min-width: 992px) {
    .eventListing__card-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
}